@model IEnumerable<MVCTraining.Models.ProductSection>

@foreach (var item in Model)
{

    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="panel-carret" href="#collapse@{@item.Id}">
                    <span class="pull-left glyphicon glyphicon-play gly-rotate-90"></span>
                    @item.Title
                </a>
</h4>

</div>
        <div id="collapse@{@item.Id}" class="panel-collapse collapse in">

            <div class="panel-body">
                @*Control placement*@
            </div>
        </div>
</div>
                    <br />
}