@model MVCTraining.Models.ForgotPasswordViewModel

<div class="modal fade" id="pwdModal" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    Forgot Password?
                    <a id="close-forgot-password" class="pull-right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                Body
            </div>
        </div>
      </div>
</div>