.modal-dialog * {
    border-radius:0px;
}

.modal-dialog .panel {
width:485px;

}

.modal-dialog .panel-heading {
margin-top:0px;
padding-top:1px;
padding-bottom:1px;
}

#close-forgot-password {
    opacity:1;
    font-size:18px;
    margin-top:-2px;
    color:white;
    cursor:pointer;
}