@model IEnumerable<MVCTraining.Models.ThumbnailAreaModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @if (User.Identity.IsAuthenticated)
    {
        foreach (var area in Model)
        {
        @Html.Partial("_ThumbnailAreaPartial",area);
        }
    }
    else
    {
        //Left Column
        <div class="col-lg9 col-md-8 col-sm-7">
            <h2>Please log in </h2>
        </div>
        //Right Column
        <div class="col-lg3 col-md-4 col-sm-5">
           @*Will add registration component here*@
        </div>
    }

    @*<video class="video-js" controls  data-setup='{}'>
        <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
        <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
    </video>*@
</div>

