@model IEnumerable<MVCTraining.Models.ThumbnailAreaModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @if (User.Identity.IsAuthenticated)
    {
        foreach (var area in Model)
        {
        @Html.Partial("_ThumbnailAreaPartial",area);
        }
    }
    else
    {
        //Left Column
        <div class="col-lg9 col-md-8 col-sm-7">
            <h2>Please log in </h2>
        </div>
        //Right Column
        <div class="col-lg3 col-md-4 col-sm-5">
           @*Will add registration component here*@
        </div>
    }
</div>

