@model IEnumerable<MVCTraining.Models.ThumbnailAreaModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @if (User.Identity.IsAuthenticated)
    {
        foreach (var area in Model)
        {
        @Html.Partial("_ThumbnailAreaPartial",area);
        }
    }
    else
    {
        //Left Column
        <div class="col-lg9 col-md-8 col-sm-7">
            <h2>Please log in </h2>
        </div>
        //Right Column
        <div class="col-lg3 col-md-4 col-sm-5">
           @*Will add registration component here*@
        </div>
    }
    <div class="row">
        <div class="col-sm-3 regiger-code-area">
            @Html.Partial("_RegisterCodePartial")
        </div>
        <div class="col-sm-9">

        </div>
    </div>


    @*Use a VLC Media to get  a source of YT video and just copy paste the link like below. You can do this with anything from them no need to go for mp4 direct link like below worked.
    https://stackoverflow.com/questions/18546488/direct-link-of-youtube-video*@
    @*<video class="video-js" controls  data-setup='{}'>
        <source src="https://r3---sn-nv47ln7l.googlevideo.com/videoplayback?mime=video%2Fmp4&key=yt6&source=youtube&initcwndbps=600000&txp=5535432&requiressl=yes&ei=y7ZhXL2xNtqy1gLApKOoBg&itag=22&ratebypass=yes&pl=20&fvip=3&ms=au%2Conr&mt=1549907606&sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&mv=m&lmt=1549815353904303&ip=176.40.197.115&signature=B03AAE989CA5FC4E997E6DC7567909CF93F5E5E7.3E9A0A780754BD39960C1E2E3434F3E8D845CE8E&c=WEB&expire=1549929260&id=o-AG4ivrcvwn5cKFNesTauavS7m5U4kJOKcsej-7jamJ1A&mm=31%2C26&ipbits=0&dur=773.178&mn=sn-nv47ln7l%2Csn-4g5e6nez" type="video/mp4">
        <source src="https://r3---sn-nv47ln7l.googlevideo.com/videoplayback?mime=video%2Fmp4&key=yt6&source=youtube&initcwndbps=600000&txp=5535432&requiressl=yes&ei=y7ZhXL2xNtqy1gLApKOoBg&itag=22&ratebypass=yes&pl=20&fvip=3&ms=au%2Conr&mt=1549907606&sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&mv=m&lmt=1549815353904303&ip=176.40.197.115&signature=B03AAE989CA5FC4E997E6DC7567909CF93F5E5E7.3E9A0A780754BD39960C1E2E3434F3E8D845CE8E&c=WEB&expire=1549929260&id=o-AG4ivrcvwn5cKFNesTauavS7m5U4kJOKcsej-7jamJ1A&mm=31%2C26&ipbits=0&dur=773.178&mn=sn-nv47ln7l%2Csn-4g5e6nez" type="video/webm">
    </video>*@
</div>

